<div class="container">
  <div class="ui-g">
    <div class="ui-g-12">
      <h1>Relatório de lançamentos por pessoa</h1>
    </div>

    <form #f="ngForm" (ngSubmit)="gerar()">

      <div class="ui-g-12">

        <label>Vencimento</label>
        <p-calendar dateFormat="dd/mm/yy" required name="pediodo" [(ngModel)]="periodoInicio"
          [inputStyle]="{'width': '95px'}"></p-calendar>

        <label>até</label>

        <p-calendar dateFormat="dd/mm/yy" required name="final" [(ngModel)]="periodoFim"
        [inputStyle]="{'width': '95px'}"></p-calendar>
      </div>

      <div class="ui-g-12">
        <button type="submit" pButton label="Gerar" [disabled]="f.invalid"></button>
      </div>

    </form>
  </div>
</div>
